<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img
            alt="Clinic logo"
            class="mb-5 w-6rem flex-shrink-0"
            src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Bem vindo!</div>
                    <span class="text-600 font-medium">Faça o login para continuar</span>
                </div>

                <div>
                    <label class="block text-900 text-xl font-medium mb-2" for="email1">E-mail</label>
                    <input class="w-full md:w-30rem mb-5" id="email1" pInputText placeholder="Endereço de e-mail"
                           style=""
                           type="text">
                    <label class="block text-900 font-medium text-xl mb-2" for="password1">Senha</label>
                    <p-password [(ngModel)]="password" [toggleMask]="true" id="password1"
                                [label]="layoutService.config.colorScheme === 'light' ? 'Mostrar' : 'Esconder'"
                                [promptLabel]="'Digite sua senha'"
                                [strongLabel]="'Senha forte'"
                                [mediumLabel]="'Senha média'"
                                [weakLabel]="'Senha fraca'"
                                inputStyleClass="w-full p-3 md:w-30rem"
                                placeholder="Senha" styleClass="mb-5"/>
                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox [binary]="true" id="rememberme1" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Lembrar-me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                           style="color: var(--primary-color)">Esqueceu sua senha?</a>
                    </div>
                    <button [routerLink]="['/']" class="w-full p-3 text-xl" label="Login" pButton pRipple></button>
                </div>
            </div>
        </div>
    </div>
</div>
