<div class="grid">
    <div class="col-12">
        <charts-component
            [chartData]="chartData"
            [chartOptions]="chartOptions"
            [chartTitleSize]="1.5"
            [chartTitle]="'Revenue'"
            [chartType]="'bar'"
        />
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <dashboard-card
            [icon]="'pi pi-times'"
            [newCount]="24"
            [sinceLastVisit]="'since last visit'"
            [title]="'Orders'"
            [value]="3000"
        ></dashboard-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <dashboard-card
            [icon]="'pi pi-check'"
            [newCount]="52"
            [sinceLastVisit]="'since last week'"
            [title]="'Revenue'"
            [value]="2_100"
        ></dashboard-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <dashboard-card
            [icon]="'pi pi-check'"
            [newCount]="520"
            [sinceLastVisit]="'newly registered'"
            [title]="'Customers'"
            [value]="28441"
        ></dashboard-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <input-component [componentType]="'inputText'" [input]="inputOptions"></input-component>
    </div>
</div>
